	{{ with .Site.Menus.main }}
		<nav id="sidebar">
			<ul>
			{{ range . }}
				<li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
			{{ end }}
			</ul>
		</nav>
	{{ end }}

    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}">
            	<h1 class="blog-title heading">{{ .Site.Title }} Than
		            <div class="slidingVertical">
				      <span>Money.</span>
				      <span>Power.</span>
				      <span>Pleasure.</span>
				      <span>Religion.</span>
				      <span>Anything.</span>
				    </div>
			    </h1>
			</a>
            <p class="blog-description">{{ .Site.Params.verse }} {{ .Site.Params.reference }}</p>
        </div>
    </header>